
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Contact</h2>
<address>
    353 Strathford Blvd<br />
    Strathmore, AB, T1P-1S4<br />
    <abbr title="Phone">P:</abbr>
    403-803-5513
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:mike@zeilk.com">mike@zeilk.com</a><br />
</address>
